.card-img {
    height: 150px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.social-link:hover {
    text-decoration: unset;
}
.social-link>img {
    width: 30px;
    height: 30px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
